
<h1>Add Crop Species</h1>

<form method="post" action="">
    <ul class="formalList">
        <li><label for="commonName">Common Name: </label>
            <input type="text" name="commonName" id="commonName" placeholder="Common Name"></li>
        <li><label for="latinSpecies">Latin Species: </label>
            <input type="text" name="latinSpecies" id="latinSpecies" placeholder="Latin Species"></li>
        <li><label for="latinSubspecies">Latin Subspecies: </label>
            <input type="text" name="latinSubspecies" id="latinSubspecies" placeholder="Latin Subspecies"></li>
        <li><label for="latinVariety">Latin Variety: </label>
            <input type="text" name="latinVariety" id="latinVariety" placeholder="Latin Variety"></li>
        <input id="form" type="submit" value="Submit">
    </ul>
</form>

<div>
        <h1>Current Data:</h1>
        <table id="CropSpeciesTable">
            <thead>
                <tr>
                    <td>Species ID</td>
                    <td>Common Name</td>
                    <td>Latin Species</td>
                    <td>Latin Subspecies</td>
                    <td>Latin Variety</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{#results}}
                <tr>
                    <td>{{this.speciesID}}</td>
                    <td>{{this.commonName}}</td>
                    <td>{{this.latinSpecies}}</td>
                    <td>{{this.latinSubspecies}}</td>
                    <td>{{this.latinVariety}}</td>
                    <td><button id="D{{this.id}}">Delete</button></td>
                    <td><button id="u{{this.id}}">Update</button></td>
                </tr>
                {{/results}}
            </tbody>
        </table>
    </div>