<div>
    <a href="/"><button class="homeButton">Home</button></a>
</div>
<div>
    <h1>Add Crop Species</h1>
</div>
<div class="formBox">
    <form method="post" action="">
        <div class="formInputs">
            <label for="commonName">Common Name: </label>
            <input type="text" name="commonName" id="commonName" placeholder="Common Name">
        </div>
        <div class="formInputs">
            <label for="latinSpecies">Latin Species: </label>
            <input type="text" name="latinSpecies" id="latinSpecies" placeholder="Latin Species">
        </div>
        <div class="formInputs">
            <label for="latinSubspecies">Latin Subspecies: </label>
            <input type="text" name="latinSubspecies" id="latinSubspecies" placeholder="Latin Subspecies">
        </div>
        <div class="formInputs">
            <label for="latinVariety">Latin Variety: </label>
            <input type="text" name="latinVariety" id="latinVariety" placeholder="Latin Variety">
        </div>
        <div class="formInputs">
            <input id="form" type="submit" value="Submit">
        </div>
    </form>
</div>

<div>
        <h1>Current Data:</h1>
        <table id="CropSpeciesTable">
            <thead>
                <tr>
                    <td>Species ID</td>
                    <td>Common Name</td>
                    <td>Latin Species</td>
                    <td>Latin Subspecies</td>
                    <td>Latin Variety</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {{#results}}
                <tr>
                    <td>{{this.speciesID}}</td>
                    <td>{{this.commonName}}</td>
                    <td>{{this.latinSpecies}}</td>
                    <td>{{this.latinSubspecies}}</td>
                    <td>{{this.latinVariety}}</td>
                    <td><button id="D{{this.id}}">Delete</button></td>
                    <td><button id="u{{this.id}}">Update</button></td>
                </tr>
                {{/results}}
            </tbody>
        </table>
    </div>