<h1>Add Germplasm Origins</h1>

<form method="post" action="">
    <ul class="formalList">
        <li><label for="originPedigree">Origin Pedigree: </label>
            <input type="text" name="originPedigree" id="originPedigree" placeholder="Origin Pedigree"></li>
        <li><label for="speciesID">Species ID: </label>
            <input type="number" name="speciesID" id="speciesID" placeholder = "ID Number"></li>
        <li><label for="originalGen">Original Generation: </label>
            <input type="text" name="originalGen" id="originalGen" placeholder="Original Gen"></li>
        <li><label for="sourceProgram">Source Program ID: </label>
            <input type="number" name="sourceProgram" id="sourceProgram" placeholder = "ID Number"></li>
        <li><label for="marketClass">Market Class: </label>
            <input type="text" name="marketClass" id="marketClass" placeholder="Market Class"></li>
        <input id="form" type="submit" value="Submit">
    </ul>
</form>


<div>
    <h1>Current Data:</h1>
    <table id="GermplasmOriginsTable" class="formalTable">
        <thead>
            <tr>
                <th>Origin ID</th>
                <th>Origin pedigree</th>
                <th>Species ID</th>
                <th>Original Gen</th>
                <th>Source Program</th>
                <th>Market Class</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{this.originID}}</td>
                <td>{{this.originPedigree}}</td>
                <td>{{this.speciesID}}</td>
                <td>{{this.originalGen}}</td>
                <td>{{this.sourceProgram}}</td>
                <td>{{this.marketClass}}</td>
                <td><input id="D{{this.id}}" type="Submit" value="Delete"></td>
                <td><input id="u{{this.id}}" type="Submit" value="Update"></td>
            </tr>
            {{/results}}
        </tbody>
    </table>
</div>