
<h1>Add PC Sites</h1>


<form method="post" action="">
    <ul class="formalList">
        <li><label for="siteCity">Site City: </label>
            <input type="text" name="siteCity" id="siteCity" placeholder="Site City"></li>
        <li><label for="siteState">Site State: </label>
            <input type="text" name="siteState" id="siteState" placeholder="Site State"></li>
        <li><label for="siteCountry">Site Country: </label>
            <input type="text" name="siteCountry" id="siteCountry" placeholder="Site Country"></li>
        <input id="form" type="submit" value="Submit">
    </ul>
</form>


<div>
    <h1>Current Data:</h1>
    <table id="PCSitesTable" class="formalTable">
        <thead>
            <tr>
                <th>Site ID</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{this.siteID}}</td>
                <td>{{this.siteCity}}</td>
                <td>{{this.siteState}}</td>
                <td>{{this.siteCountry}}</td>
                <td><input id="D{{this.id}}" type="Submit" value="Delete"></td>
                <td><input id="u{{this.id}}" type="Submit" value="Update"></td>
            </tr>
            {{/results}}
        </tbody>
    </table>
</div>