
<h1>Add Production Fields</h1>

<form method="post" action="">
    <ul class="formalList">
        <li><label for="fieldName">Field Name: </label>
            <input type="text" name="fieldName" id="fieldName" placeholder="Field Name"></li>
        <li><label for="fieldCity">City: </label>
            <input type="text" name="fieldCity" id="fieldCity" placeholder="City"></li>
        <li><label for="fieldState">State: </label>
            <input type="text" name="fieldState" id="fieldState" placeholder="State"></li>
        <li><label for="fieldCountry">Country: </label>
            <input type="text" name="fieldCountry" id="fieldCountry" placeholder="Country"></li>
        <li><label for="fieldAcres">Acres: </label>
            <input type="number" name="fieldAcres" id="fieldAcres" placeholder="Acres"></li>
        <li><label for="fieldLat">Latitude: </label>
            <input type="number" name="fieldLat" id="fieldLat" placeholder="Latitude"></li>
        <li><label for="fieldLon">Longitude: </label>
            <input type="number" name="fieldLon" id="fieldLon" placeholder="Longitude"></li>
        <input id="form" type="submit" value="Submit">
    </ul>
</form>


<div>
    <h1>Current Data:</h1>
    <table id="ProductionFieldsTable" class="formalTable">
        <thead>
            <tr>
                <th>Prod Field ID</th>
                <th>Field Name</th>
                <th>Field City</th>
                <th>Field State</th>
                <th>Field Country</th>
                <th>Field Acres</th>
                <th>Field Latitude</th>
                <th>Field Longitude</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{this.fieldID}}</td>
                <td>{{this.fieldName}}</td>
                <td>{{this.fieldCity}}</td>
                <td>{{this.fieldState}}</td>
                <td>{{this.fieldCountry}}</td>
                <td>{{this.fieldAcres}}</td>
                <td>{{this.fieldLat}}</td>
                <td>{{this.fieldLon}}</td>
                <td><input id="D{{this.id}}" type="Submit" value="Delete"></td>
                <td><input id="u{{this.id}}" type="Submit" value="Update"></td>
            </tr>
            {{/results}}
        </tbody>
    </table>
</div>