
<h1>Add Production Lots</h1>

<form method="post" action="">
    <ul class="formalList">
        <li><label for="lotCode">Lot Code: </label>
            <input type="text" name="lotCode" id="lotCode" placeholder="Lot Code"></li>
        <li><label for="originID">Origin ID: </label>
            <input type="number" name="originID" id="originID" placeholder="Origin ID Number"></li>
        <li><label for="sourceLotID">Source Lot ID: </label>
            <input type="number" name="sourceLotID" id="sourceLotID" placeholder="Source Lot ID Number"></li>
        <li><label for="specialistID">Specialist ID: </label>
            <input type="number" name="specialistID" id="specialistID" placeholder="Specialist ID Number"></li>
        <li><label for="fieldID">Field ID: </label>
            <input type="number" name="fieldID" id="fieldID" placeholder="Field ID Number"></li>
        <li><label for="targetKGs">Target KGs: </label>
            <input type="number" name="targetKGs" id="targetKGs" placeholder="Target KGs"></li>
        <li><label for="sowDate">Sow Date: </label>
            <input type="date" name="sowDate" id="sowDate"></li>
        <li><label for="sowKGs">Sow KGs: </label>
            <input type="number" name="sowKGs" id="sowKGs" placeholder="Sow KGs"></li>
        <li><label for="harvestDate">Harvest Date: </label>
            <input type="date" name="harvestDate" id="harvestDate"></li>
        <li><label for="harvestKGs">Harvest KGs: </label>
            <input type="number" name="harvestKGs" id="harvestKGs" placeholder="Harvest KGs"></li>
        <input id="form" type="submit" value="Submit">
    </ul>
</form>


<div>
    <h1>Current Data:</h1>
    <table id="ProductionLotsTable">
        <thead>
            <tr>
                <th>Production Lot ID</th>
                <th>Lot Code</th>
                <th>Origin ID</th>
                <th>Source Lot ID</th>
                <th>Specialist ID</th>
                <th>Field ID</th>
                <th>Target KGs</th>
                <th>Sow Date</th>
                <th>Sow KGs</th>
                <th>Harvest Date</th>
                <th>Harvest KGs</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{this.lotID}}</td>
                <td>{{this.lotCode}}</td>
                <td>{{this.originID}}</td>
                <td>{{this.sourceLotID}}</td>
                <td>{{this.specialistID}}</td>
                <td>{{this.fieldID}}</td>
                <td>{{this.targetKGs}}</td>
                <td>{{this.sowDate}}</td>
                <td>{{this.sowKGs}}</td>
                <td>{{this.harvestDate}}</td>
                <td>{{this.harvestKGs}}</td>
                <td><input id="D{{this.id}}" type="Submit" value="Delete"></td>
                <td><input id="u{{this.id}}" type="Submit" value="Update"></td>
            </tr>
            {{/results}}
        </tbody>
    </table>
</div>

<script src="ProductionLots.js"></script>
